/* font:
font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; */

body {
  width: 380px;
  margin: auto;
}

/* header */

header {
  background-image: url(../img/fruit.webp);
  background-size: 100%;
  border-top: 8px solid #57bb6b;
  text-align: center;
  height: 380px;
}

.title {
  margin: 28px 30px 33px;
  width: 320px;
  height: 166px;
  background-color: #ffffffdd;
}

h1 {
  margin: 0;
}

header img {
  width: 205px;
  align-items: center;
  margin-top: 34px;
}

header p {
  color: #57bb6b;
  font-family: "Quattrocento", serif;
  font-weight: 400px;
  font-size: 20px;
  margin-top: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.button {
  padding: 11px 15px;
  border-radius: 20px;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
  text-decoration: none;
  background-color: #57bb6b;
  color: white;
}

.button-light {
  background-color: white;
  color: #57bb6b;
}

/* main */

h2 {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  font-size: 26px;
}

main h2 {
  margin-top: 96px;
}

.description {
  margin-top: 26px;
  text-align: center;
}

.container-fruit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 67px;
}

.container-fruit img {
  width: 28px;
}

.produit {
  background-color: #57bb6b;
  color: white;
  margin-top: 100px;
}

.produit h2 {
  padding-top: 45px;
}

.container-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article {
  margin: 44px 30px 0 30px;
  width: 321px;
  height: 241px;
  border-radius: 20px;
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.35);
}

.article-title {
  font-family: "Sriracha", cursive;
  color: black;
  font-size: 30px;
  padding: 20px 0 0 40px;
}

article p {
  padding-left: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.link {
  height: 105px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 40px;
}

.link a {
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.link img {
  width: 80px;
}

.banane {
  background-color: #fff8d7;
}

.kiwi {
  background-color: #c4f2ad;
}

.cafe {
  background-color: #d3c6b2;
}

.fraise {
  background-color: #f7a4b4;
  margin-bottom: 44px;
}

/* footer */

footer h2 {
  margin: 42px 0 34px 0;
  color: #57bb6b;
}

footer nav {
  height: 160px;
  margin-bottom: 75px;
}

footer p {
  font-family: "Maven Pro", sans-serif;
  font-size: 12px;
  color: #57bb6b;
  text-align: center;
}

/* article.html */

.background-kiwi {
  height: 220px;
}

.kiwi-page {
  padding-top: 68px;
  background-color: #c4f2ad;
}

.kiwi-page p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.article {
  padding: 0;
  text-align: center;
}

.fond-kiwi {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 68px;
  width: 169px;
  height: 169px;
  background-color: white;
  border-radius: 50%;
  display: flex;
}

.fond-kiwi img {
  width: 100px;
  margin: auto;
}

.kiwi-information {
  background-color: #57bb6b;
  padding: 0px 68px 0px 68px;
  color: white;
  height: 750px;
}

.kiwi-information h2 {
  text-align: left;
  padding-top: 65px;
}

.kiwi-information p {
  color: white;
  text-align: left;
  margin-top: 55px;
}

.kiwi-information img {
  width: 245px;
  margin: 40px 0;
}

.kiwi-information ul {
  margin-top: 25px;
  padding-left: 20px;
}

.container-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.container-small article {
  width: 150px;
  height: 150px;
  margin: 0;
  box-shadow: none;
}

.container-small article h1 {
  font-family: "Sriracha", cursive;
  font-size: 20px;
  padding: 20px 15px;
  line-height: 1;
}

.container-small article img {
  width: 55px;
}

.container-small .fraise .link {
  margin: 0 20px;
  height: 50px;
}

.container-small .cafe .link {
  margin: 0 20px;
  height: 70px;
}

.container-small a {
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  font-size: 20px;
}
