/* font:
font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; */





body {
  width: 380px;
  margin: auto;
  scroll-behavior: smooth;
}

/* header */

header  {
  background-image: url(../img/fruit.jpg);
  background-size: 100%;
  border-top: 8px solid #57BB6B;
  text-align: center;
  height: 380px;
}

.titre {
  margin: 28px 30px 33px;
  width: 320px;
  height: 166px;
  background-color: #ffffffdd;
}


h1 {
  margin: 0;
}

header img {
  width: 205px;
  align-items: center;
  margin-top: 34px;
}


header p {
  color: #57BB6B;
  font-family: 'Quattrocento', serif;
  font-weight: 400px;
  font-size: 20px;
  margin-top: 0;
}

nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}
.button {
  padding: 11px 15px;
  border-radius: 20px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.button_produit {
  background-color: #57BB6B;
  color: white;
}

.button_contact {
  background-color: white;
  color: #57BB6B;
}


/* main */

h2 {
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 26px;
}

main h2 {
  margin-top: 96px;
}

.description {
  margin-top: 26px;
  text-align: center;
}

.container-fruit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 67px;
}

.container img {
  width: 28px;
}

.produit {
  background-color: #57BB6B;
  color: white;
  margin-top: 100px;
}

.produit h2 {
  padding-top: 45px;
}

.container-article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

article {
  margin: 44px 30px 0 30px;
  width: 321px;
  height: 241px;
  border-radius: 20px;
  box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.35);
}

article h1 {
  padding: 38px 0 0 40px;
  font-family: 'Sriracha', cursive;
  color: black;
  font-size: 30px;
}

article p {
  padding-left: 40px;
  margin: 0;
  color: rgba(0,0,0,0.5);
}

.lien {
  height: 105px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 40px;
}

.lien a {
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.lien img {
  width: 80px;
}

.banane {
  background-color: #FFF8D7;
}

.kiwi {
  background-color: #C4F2AD;
}

.cafe {
  background-color: #D3C6B2;
}

.fraise {
  background-color: #F7A4B4;
  margin-bottom: 44px;
}

/* footer */

footer h2 {
  margin-top: 42px;
  color: #57BB6B;
}

footer nav {
  height: 160px;
  margin-bottom: 75px;
}

.button-lien {
  background-color: #57BB6B;
  color: white;
}

footer p {
  font-family: 'Maven Pro', sans-serif;
  font-size: 12px; 
  color: #57BB6B;
  text-align: center;
}
